*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #f7edff;
}
.buttons{
    margin: 50px;
}
h2 {
    font-size: 30px;
    font-weight: 900;
    margin: 50px;
}
.buttons button {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    outline: 0;
    width: 120px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}
.buttons button:hover{
    background-color: transparent;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
}
#toastBox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}
.successToast{
    width: 400px;
    height: 80px;
    background-color: #fff;
    font-weight:500;
    margin: 15px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}
@keyframes moveleft {
    100%{
    transform: translateX(0);

    }
}
.invalidToast{
    width: 400px;
    height: 80px;
    background-color: #fff;
    font-weight:500;
    margin: 15px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}
.errorToast{
    width: 400px;
    height: 80px;
    background-color: #fff;
    font-weight:500;
    margin: 15px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}
.fa-circle-check{
    margin: 0 15px;
    font-size: 35px;
    color: Green;
}
.fa-circle-xmark{
    margin: 0 15px;
    font-size: 35px;
    color: red;
}
.fa-circle-exclamation{
    margin: 0 15px;
    font-size: 35px;
    color: orange;
}
.successToast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
}
.errorToast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: red;
    animation: anim 5s linear forwards;
}
.invalidToast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: orange;
    animation: anim 5s linear forwards;
}
@keyframes anim {
    100%{
        width: 0%;
    }
}
@media screen and (max-width:767px){
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .buttons button {
        width: 100% !important;
        height: 60px;
    }
    #toastBox {
           padding: 7px;
        bottom: 0px;
        right: 0px;
        
    }
    body {
        overflow-x:hidden;
        max-width:100%;
        display: flex;
        background-color: #f7edff;
        flex-direction: column;
        height: 70vh;
        justify-content: center;
        text-align: center;
    }
    h2 {
        margin: 0px;
        font-size: 35px;
        line-height: 50px;
    }
}
